@import url(http://fonts.googleapis.com/css?family=Lato|Bree+Serif);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.outline-button {
    text-decoration: none;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.5rem;
    color: #2d2d2d;
    border: 2.5px solid #000000;
    padding: 0.5rem;
    margin: 1rem;
}

.white {
    border: 1px solid white;
    color: white;
}

.dark {
    border: 1px solid #2d2d2d;
    color: #2d2d2d;
}

/* Header component */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1.5rem;
}

#brand {
    width: 50%;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    font-family: 'Lato', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.25rem;
    color: #777
}

/* Hero component */
#hero {
    display: flex;
    flex-direction: column;
    background: #2d2d2d url(images/zebra-hero.jpg) center;
    background-size: cover;
    align-items: center;
    padding: 2rem 0;
    }
    
    #hero h1, #hero a {
        color: white;
    }

    #hero h1 {
        font-family: 'Bree Serif', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        margin: 1rem 0;
    }
    
    #hero a {
        text-decoration: none;
        font-family: 'Lato', Arial, sans-serif;
        font-size: 1.5rem;
        border: 1px solid white;
        padding: 0.5rem;
    }
    
    #hero img {
        width: 65%;
        border-radius: 50%;
        border: #2d2d2d 3px solid;
    }

    /* main content component */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bree Serif', 'Helvetica Neue', Helvetica, sans-serif;
}

main h2 {
    margin: 1rem 0;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

main article img {
    width: 70%;
    border-radius: 50%;
    border: #2d2d2d 3px solid;
}

main article h3 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1.5rem;
}

main article p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* Social media links */

#social-links {
    background: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

#social-links p {
    font-family: 'Bree Serif', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 1.2;
    margin-bottom: 1.5rem;
}

#social-links > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
